{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    {#<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">#}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/theme/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/theme/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/theme/custom.min.css') }}">

    <!-- Font Awesome -->
    {#<link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">#}
    <!-- NProgress -->
    {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/appbundle/css/theme/font-awesome.min.css') }}">#}
    {#<link href="../vendors/nprogress/nprogress.css" rel="stylesheet">#}
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

{% endblock header %}

{% block content %}
{% endblock content %}



{% block script %}
<!-- jQuery -->
{#<script src="../vendors/jquery/dist/jquery.min.js"></script>    #}
<!-- Bootstrap -->
{#<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>#}
<!-- FastClick -->
{#<script src="../vendors/fastclick/lib/fastclick.js"></script>#}
<script src="{{ asset('bundles/app/js/theme/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/theme/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/theme/fastclick.js') }}"></script>
<!-- NProgress -->
{#<script src="../vendors/nprogress/nprogress.js"></script>#}
<!-- Custom Theme Scripts -->
{#<script src="../build/js/custom.min.js"></script>#}
<script src="{{ asset('bundles/app/js/theme/custom.min.js') }}"></script>
{% endblock script %}


{% block end %}
</html>
{% endblock end %}
