    {#{% if DashBoardFilter.search and DashBoardFilter.search != NULL %}#}
        {#<div class="row">#}
            {#<div class="col-md-5">#}
                {#<input name="fsearchtext" type="text" id="fsearchtext" class="form-control filter" placeholder="{{ DashBoardFilter.search.textSearch | trans }}" />#}
            {#</div>#}
            {#<div class="col-md-2">#}
                {#<button id="btn_fsearchtext" class="btn btn-large btn-default"><i class="glyphicon glyphicon-search"></i> {{ DashBoardFilter.search.textButton | trans }}</button>#}
            {#</div>#}
        {#</div>#}
        {#<br />#}
    {#{% endif %}#}
    {#{% if DashBoardFilter.filters != NULL %}#}
        <div id="dashboard_filter" class="dashboard-filter row">

            <div id="dashboard-filter-container" class="dashboard-filter-container collapse {% if (DashBoardFilter.collapse) %} in {% endif %} ">
                {% for filter in DashBoardFilter.filters  %}
                    {#{{ dump(filter) }}#}
                    <div class="container-filter-class {{ filter.containerClass }}">

                        <div class="filter-type-{{ filter.type }}">

                            {% if filter.type != 'hidden' %}
                                <label class="control-label filter-label" for="{{ filter.id }}">{{ filter.label }}</label>
                            {% endif %}

                                <div class="{% if filter.showSignFilter %} col-md-10 filter-filter {% endif %}">

                                    {% set filterName = 'dasboard-filter[' ~  filter.name|raw  ~ '][filter]' %}
                                    {% set filterSign = 'dasboard-filter[' ~  filter.name|raw  ~ '][sign]' %}

                                    {# Hiden Filter #}
                                    {# Text Filter #}
                                    {% if filter.type == 'hidden' %}
                                        <input class="form-control filter-hidden" type="hidden" id="{{ filter.id }}" name="{{ filterName }}" value="{{ filter.value }}" {{ filter.attributes }}/>
                                    {% endif %}

                                    {# Text Filter #}
                                    {% if filter.type == 'text' %}
                                        <input class="form-control filter-text" type="text" id="{{ filter.id }}" name="{{ filterName }}" value="{{ filter.value }}" {{ filter.attributes }}/>
                                    {% endif %}

                                    {# Text Filter #}
                                    {% if filter.type == 'number' %}
                                        <input class="form-control filter-text" type="number" step="10" id="{{ filter.id }}" name="{{ filterName }}" value="{{ filter.value }}" {{ filter.attributes }}/>
                                    {% endif %}

                                    {# Select Fitlers #}
                                    {% if filter.type == 'select' %}
                                        <select class="form-control filter-select" id="{{ filter.id }}" name="{{ filterName }}"
                                                {% if filter.multiple %} multiple="multiple" {% endif %}
                                                {{ filter.attributes }}>

                                            {% if not filter.multiple %}
                                                <option value="">{{ '-- Select --' | trans }}</option>
                                            {% endif %}

                                            {% for fd in filter.data %}
                                                <option

                                                    {% if filter.value == fd.value %}
                                                        selected
                                                    {% endif %}

                                                    value="{{ fd.value }}">
                                                    {{ fd.option }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}

                                    {# Date Filters #}
                                    {% if filter.type == 'date' %}
                                        <input class="form-control filter-date" type="text" id="{{ filter.id }}" name="{{ filterName }}" {{ filter.attributes }}/>
                                    {% endif %}

                                </div>
                                {% if filter.showSignFilter and filter.type != 'hidden' %}
                                    <div class="col-md-2 filter-sign">
                                        <select class="form-control" name="{{ filterSign }}">
                                            <option value="=" {% if filter.signValue == '='%}  selected {% endif %}>=</option>
                                            <option value=">" {% if filter.signValue == '>'%}  selected {% endif %}>></option>
                                            <option value="<" {% if filter.signValue == '<'%}  selected {% endif %}><</option>
                                        </select>
                                    </div>
                                {% elseif filter.signValue != '='%}
                                    <input class="form-control filter-hidden" type="hidden" name="{{ filterSign }}" value="{{ filter.signValue }}" />
                                {% endif %}

                        </div>
                     </div>
                {% endfor %}
            </div>
        </div>
    {#{% endif %}#}

<script type="text/javascript">
        $(document).ready(function() {
            {#//----------- Construct Filters -----------------#}
            {% for filter in DashBoardFilter.filters  %}

                //Nice Datepicker
                {% if filter.type == 'date' %}
                    $('#{{ filter.id }}').datepicker({
                        format: '{{filter.dateformat}}',
                        autoclose: true,
                        language:  'es',
                        todayHighlight: true,

                        {#changeMonth: {%if filter.changeMonth %} true {%else%} false {% endif %},#}
                        {#changeYear: {%if filter.changeYear %} true {%else%} false {% endif %},#}

                        {% if filter.minDate is defined and filter.minDate != NULL %} startDate: '{{filter.minDate}}', {% endif %}
                        {% if filter.maxDate is defined and filter.maxDate != NULL %} endDate: '{{filter.maxDate}}', {% endif %}
                    });

                    {% if filter.value is defined and filter.value != NULL %}
                        $('#{{ filter.id }}').datepicker('setDate', '{{filter.value}}');
                    {% endif %}
                {% endif %}


            {#//Nices Select Fitlers    #}
                {#{% if filter.type == 'select' %}#}
                    {#Multiselect.multiselect({#}
                        {#selector: ['#{{ filter.id }}']#}
                    {#});    #}

                    {#//Load Data From...#}
                    {#{% if filter.loadDataUrl is defined and filter.loadDataUrl != NULL %}#}
                        {#var {{ 'funcAcordionFilter' ~ filter.id }} = function(){#}
                            {#Hydra.module.getInstance('xalix.fillSelect').fill({                            #}
                                    {#selector: '{{ filter.id }}',#}
                                    {#url : '{{filter.loadDataUrl}}',#}
                                    {#{% if filter.loadDataUrlParams is defined and filter.loadDataUrlParams != NULL %}#}
                                    {#postData :{#}
                                        {#{% for param in filter.loadDataUrlParams  %}#}
                                                {#{{ param }}: ($('#{{ param }}').val() !== 'undefined' && $('#{{ param }}').val() !== '' && $('#{{ param }}').val() !== null && $('#{{ param }}').val() !== 'null') ?  $('#{{ param }}').val() : '',                                   #}
                                        {#{% endfor %}#}
                                        {#},#}
                                    {#{% endif %}                                    #}
                                    {#multiple: {%if filter.multiple %} true {%else%} false {% endif %}         #}
                                {#});#}
                            {#};    #}
                    {#{% endif %} #}
                {#{% endif %} #}
                    {##}

            {% endfor %}



            {#//----------- Construct Trigger Filters -----------------    #}
            {#{% for filter in DashBoardFilter.filters  %}        #}
                {#//Nices Select Fitlers    #}
                {#{% if filter.type == 'select' or filter.type == 'date'  %}   #}
                    {#{% if filter.triggerFilters is defined and filter.triggerFilters != NULL %}#}
                        {#$('#{{ filter.id }}').change(function() {#}
                            {#//Call Load Data From to Filters witch are trigger by this trigger#}
                            {#{% for triggerFilter in filter.triggerFilters  %}#}
                                  {#{{ 'funcAcordionFilter' ~ triggerFilter }}.call();  #}
                            {#{% endfor %}        #}
                        {#});#}
                    {#{% endif %} #}
                {#{% endif %}                 #}
            {#{% endfor %}                #}
        });
</script>

