{% extends '@App/easyadmin_custom_layout.html.twig' %}

 {% block content_title %} Change Password {% endblock %}


 {% block main %}

     <div class="container col-md-4">
     <form action="{{ path('app_security_change_password') }}" {{ form_enctype(form) }} method="POST">

         {{ form_widget(form) }}
         <br>
         <div>
             <input type="submit" value="Submit" class="btn btn-primary" />
         </div>
     </form>
     </div>
 {% endblock %}
