{% extends '@App/theme/base.html.twig' %}
{% block content %}

        {% block stylesheets %}
            {#{{ parent() }}#}

            <style type="text/css">
                body{
                    padding: 50px;
                }
                .modal-dialog {
                    width: 300px;
                }

                .input-group-addon {
                    color: #fff;
                    background: #3276B1;
                }

                .btnsubmit{
                    color: #FFF!important;
                    width: 100%;
                }

                ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: #c4c0ca;
                    font-style: italic;
                }
                :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color:    #c4c0ca;
                    opacity:  1;
                    font-style: italic;
                }
                ::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color:    #c4c0ca;
                    opacity:  1;
                    font-style: italic;
                }
                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color:    #c4c0ca;
                    font-style: italic;
                }
                .modal-dialog{
                    width: inherit;
                    max-width: 300px;
                }
                .input-group{
                    width: 100%;
                }

            </style>

            {#<link rel="stylesheet" href="{{ asset('bundles/sysbacken/css/main.css') }}">#}

        {% endblock %}

        {% block head_javascript %}

            {#{{ parent() }}#}

            {#<script type="text/javascript" src="{{asset('bundles/sysbacken/js/main.js')}}"></script>#}

        {% endblock %}
        {#<div class="fade1" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true1">#}
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">

                        {#<h4 class="modal-title" id="myModalLabel">Log in</h4>#}
                        <img class="img-circle profile_img"  src="{{ asset('bundles/app/images/theme/img.jpg') }}" alt="logo" />
                    </div>

                    <div class="modal-body">

                        {% if error_login is defined %}
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ error_login }}
                            </div>
                        {% endif %}
                        {% if error %}
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        <form role="form" action="{{ path('fos_user_security_check') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <div class="form-group" style="margin-top: 20px">
                                <div class="input-group col-lg-12 col-md-12">
                                    <input style="height: 40px; width: 100%" type="text"  placeholder="User" class="form-control1 col-lg-12 col-md-12" id="username" name="_username" value="{{ last_username }}" />
                                    {#<input type="text" class="form-control" id="uLogin" placeholder="Login">#}
                                    {#<i class="fa fa-search"></i>#}
                                    {#<label for="uUsername" class="input-group-addon1 fa fa-search col-md-2"></label>#}
                                </div>
                            </div> <!-- /.form-group -->

                            <div class="form-group" style="margin-top: 20px">
                                <div class="input-group col-lg-12 col-md-12">
                                    <input style="height: 40px; width: 100%" type="password" placeholder="Password" class="form-control1 col-lg-12 col-md-12" id="password" name="_password" />
                                    {#<input type="password" class="form-control" id="uPassword" placeholder="Password">#}
                                    {#<label for="uPassword" class="input-group-addon1 fa fa-lock col-md-2"></label>#}
                                </div> <!-- /.input-group -->
                            </div> <!-- /.form-group -->

                            {#<div class="checkbox">#}
                                {#<label>#}
                                    {#<input type="checkbox"> Remember me#}
                                {#</label>#}
                            {#</div> <!-- /.checkbox -->#}
                            <button type="submit" class="form-control1 btn btn-primary btnsubmit" style="margin-top: 30px; margin-bottom: 50px; height: 40px;">Log in</button>
                        </form>

                    </div> <!-- /.modal-body -->

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        {#</div><!-- /.modal -->#}


{% endblock %}