{% extends '@EasyAdmin/default/list.html.twig' %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript">

        function easyadmin_custom_list_hidden_field(obj) {

            var select_value = $(obj).val();

            $("table th").each(function (i) {
                if ($(this).attr('data-property-name') == select_value) {
                    var post = i + 1;
                    if ($(obj).is(':checked')) {
                        $('td:nth-child(' + post + ')').show();
                        $('th:nth-child(' + post + ')').show();
                    } else {
                        $('td:nth-child(' + post + ')').hide();
                        $('th:nth-child(' + post + ')').hide();
                    }
                }
            });
        }
    </script>
{% endblock  %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans } %}


{% set _custom_content_title %}
    {% spaceless %}
        {% if 'search' == app.request.get('action') %}
            {% set _default_title = 'list.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
            {{ _entity_config.list.title is defined ? _entity_config.list.title|trans(_trans_parameters) : _default_title }}
            : {{ 'search.page_title'|transchoice(count = paginator.nbResults, domain = 'EasyAdminBundle')|raw }}
        {% else %}
            {% set _default_title = 'list.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
            {{ _entity_config.list.title is defined ? _entity_config.list.title|trans(_trans_parameters) : _default_title }}
        {% endif %}
    {% endspaceless %}
{% endset %}



{% block content_title_wrapper %}
    <h1 class="title">{{ _custom_content_title }}</h1>
{% endblock %}

{#{% block item_actions %}#}
    {#{{ include('AppBundle:template:_actions.html.twig', {#}
        {#actions: _list_item_actions,#}
        {#request_parameters: _request_parameters,#}
        {#trans_parameters: _trans_parameters,#}
        {#item_id: _item_id#}
    {#}, with_context = false) }}#}
{#{% endblock item_actions %}#}

{#{% block new_action %}#}
    {#{% set new_href = path('easyadmin', _request_parameters|merge({ action: _action.name }))  %}#}
    {#{% if isAccesActionEntityByRol(_entity_config,'new') %}#}
        {#{% if isAccesiblePath(new_href) %}#}
            {#<div class="button-action">#}
                {#<a class="{{ _action.css_class|default('') }}" href="{{ new_href }}">#}
                    {#{% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}#}
                    {#{{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}#}
                {#</a>#}
            {#</div>#}
        {#{% endif %}#}
    {#{% endif %}#}

{#{% endblock new_action %}#}

{% block search_action %}
{% endblock search_action %}

{% block content_header %}
    {{ parent() }}

    {% if easyadmin_action_is_enabled_for_list_view('search', _entity_config.name) %}
        {% set _action = easyadmin_get_action_for_list_view('search', _entity_config.name) %}


        <form method="get" action="{{ path('easyadmin') }}">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-action {{ _action.css_class|default('') }}">
                            {% block dashboard_search_form %}
                                <input type="hidden" name="action" value="search">
                                <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
                                <input type="hidden" name="sortField" value="{{ _request_parameters.sortField }}">
                                <input type="hidden" name="sortDirection" value="{{ _request_parameters.sortDirection }}">
                                <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex|default(0) }}">
                                <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex|default(0) }}">
                                <div class="input-group col-md-6 text-search">
                                    <input class="form-control" type="search" name="query" value="{{ app.request.get('query')|default('') }}"
                                            placeholder=" {{ _entity_config.search.placeholder|default('') }}">
                                        <span class="input-group-btn">
                                            <button class="btn" type="submit">
                                                <i class="fa fa-search"></i>
                                                <span class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>
                                            </button>
                                             <button title="Display/Hide Filters" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dashboard-filter-container" aria-expanded="false" aria-controls="dashboard-filter-container">
                                                 Filters
                                             </button>
                                        </span>
                                </div>


                                {#{% set _request_filter = app.request.get('dasboard-filter')|default('') %}#}
                                {% block dashBoardFilter %}
                                    {% set _dashboardFilters = dashboardFilters(_entity_config) %}

                                    {{ include('@App/Filter/dashboardFilter.html.twig', {
                                        DashBoardFilter: _dashboardFilters

                                    }, with_context = false) }}

                                {% endblock %}


                                <hr class="hr-dashboard-filter"/>

                            {% endblock %}
                    </div>
                </div>

            </div>
        </form>
    {% endif %}

    {% block content_header_content %}{% endblock content_header_content%}

    <div class="row">
        <div class="col-md-12 hidden_fields_custom">

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Display Columns
            </button>
            {% block custom_buttons %}{% endblock custom_buttons %}

            <div class="collapse" id="collapseExample">
                {% for field, metadata in fields %}
                    <div class="control-group">
                        <div class="col-md-2 checkbox">
                            {% set _column_label = (metadata.label ?: field|humanize)|trans(_trans_parameters) %}

                            <label>
                                <input autocomplete="false"type="checkbox" {% if metadata.display|default('yes') == 'yes' and paginator.currentPageResults|length > 0 %} checked="checked" {% endif %} id="{{ _column_label }}" value="{{ metadata.property }}"  onclick="easyadmin_custom_list_hidden_field(this)" />
                                {{ _column_label }}
                            </label>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content_header %}

{#{% block table_head %}#}
    {#<tr>#}
        {#{% for field, metadata in fields %}#}
            {#{% set isSortingField = metadata.property == app.request.get('sortField') %}#}
            {#{% set nextSortDirection = isSortingField ? (app.request.get('sortDirection') == 'DESC' ? 'ASC' : 'DESC') : 'DESC' %}#}
            {#{% set _column_label = (metadata.label ?: field|humanize)|trans(_trans_parameters) %}#}
            {#{% set _column_icon = isSortingField ? (nextSortDirection == 'DESC' ? 'fa-caret-up' : 'fa-caret-down') : 'fa-sort' %}#}

            {#{% if metadata.display|default('yes') == 'yes' %}#}
                {#{% set display = 'table-cell' %}#}
            {#{% else %}#}
                {#{% set display = 'none' %}#}
            {#{% endif %}#}

            {#<th data-property-name="{{ metadata.property }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.virtual ? 'virtual' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}" style="display: {{ display }}">#}
                {#{% if metadata.sortable %}#}
                    {#<a href="{{ path('easyadmin', _request_parameters|merge({ sortField: metadata.property, sortDirection: nextSortDirection })) }}">#}
                        {#<i class="fa {{ _column_icon }}"></i>#}
                        {#{{ _column_label|raw }}#}
                    {#</a>#}
                {#{% else %}#}
                    {#<span>{{ _column_label|raw }}</span>#}
                {#{% endif %}#}
            {#</th>#}
        {#{% endfor %}#}

        {#{% if _list_item_actions|length > 0 %}#}
            {#<th>#}
                {#<span>{{ 'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') }}</span>#}
            {#</th>#}
        {#{% endif %}#}
    {#</tr>#}
{#{% endblock table_head %}#}

{#{% block table_body %}#}
    {#{% for item in paginator.currentPageResults %}#}

        {#{% set _item_id = attribute(item, _entity_config.primary_key_field_name) %}#}

        {#<tr data-id="{{ _item_id }}">#}
            {#{% for field, metadata in fields %}#}

                {#{% if metadata.display|default('yes') == 'yes' %}#}
                    {#{% set display = 'table-cell' %}#}
                {#{% else %}#}
                    {#{% set display = 'none' %}#}
                {#{% endif %}#}

                {#{% set isSortingField = metadata.property == app.request.get('sortField') %}#}
                {#{% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}#}

                {#{% set _classValue = '' %}#}
                {#{% set _toClassValue = metadata.toClassValue|default([]) %}#}
                {#{% for class in _toClassValue %}#}
                    {#{% set _itemValue = returnPropertyItem(item, metadata.property) %}#}

                    {#{% if  _itemValue == class.compare %}#}
                        {#{% set _classValue = class.class %}#}
                    {#{% endif %}#}
                {#{% endfor %}#}

                {#<td data-label="{{ _column_label }}" class="{{ _classValue }} {{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}" style="display: {{ display }}">#}
                    {#{{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}#}
                {#</td>#}
            {#{% endfor %}#}

            {#{% if _list_item_actions|length > 0 %}#}
                {#{% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}#}
                {#<td data-label="{{ _column_label }}" class="actions">#}

                    {#{{ include('AppBundle:template:_actions.html.twig', {#}
                        {#actions: _list_item_actions,#}
                        {#request_parameters: _request_parameters,#}
                        {#trans_parameters: _trans_parameters,#}
                        {#item_id: _item_id,#}
                        {#item: item#}
                    {#}, with_context = false) }}#}

                    {#&#123;&#35;{{ block('item_actions') }}&#35;&#125;#}

                {#</td>#}
            {#{% endif %}#}
        {#</tr>#}
    {#{% else %}#}
        {#<tr>#}
            {#<td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">#}
                {#{{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}#}
            {#</td>#}
        {#</tr>#}
    {#{% endfor %}#}
{#{% endblock table_body %}#}